<template>
	<div>
		<b-modal no-close-on-backdrop id="cuComparison" ref="cuComparison" size="lg" :title="draftComparison.id != null ? 'Edit ' + draftComparison.product.name : 'Create a new comparison' ">
				<b-container fluid>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Title</label>
						<div class="col-sm-10">
							<input type="text" v-model="draftComparison.title" class="form-control" placeholder="Enter a title...">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Content</label>
						<div class="col-sm-10">
							<textarea  v-model="draftComparison.content" class="form-control" placeholder="Enter a content..." />
						</div>
					</div>
				</b-container>
				<div slot="modal-footer" class="pull-right">
					<button class="btn btn-outline-danger" 	@click="close">Close</button>
					<button class="btn btn-outline-primary" :disabled="disabledButton" @click.prevent="save">{{draftComparison.id != null ? 'Update' : 'Create'}}</button>
				</div>
		</b-modal>
	</div>
</template>


<script>
	export default{
		props:['draftComparison','product_id'],
		data(){
			return{
			}
		},
		computed:{
			disabledButton(){
				return this.draftComparison.title == '' || this.draftComparison.content == ''
			}
		},
		methods:{
			close(){
				this.$refs.cuComparison.hide();
			},
			save(){
				if(this.draftComparison.id) {
					this.update()
				} else {
					this.store()
				}
				this.close()
			},
			store(){
				this.$store.dispatch('createComparison', {data: this.draftComparison, id:this.product_id })
			},
			update(){
				this.$store.dispatch('updateComparison', {data: this.draftComparison, id:this.product_id })
			}
		}
	}
</script>