<template>
	<div>
		<div class="form-group row">
			<button class="btn btn-primary " @click="showCollapseComparison = !showCollapseComparison">
				<i class="fa fa-plus"></i>
			</button>
		</div>

		<b-collapse id="createComparison"  v-model="showCollapseComparison" refs="createComparison" class="mt-2">
			<b-card>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Title</label>
					<div class="col-sm-10">
						<input type="text" v-model="draftComparison.title" class="form-control" placeholder="Enter a title...">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Content</label>
					<div class="col-sm-10">
						<textarea  v-model="draftComparison.content" class="form-control" placeholder="Enter a content..." />
					</div>
				</div>

				<div class="form-group row ">
					<button class="btn btn-block btn-outline-primary" @click="storeComparison()">
						Create
					</button>
				</div>
			</b-card>
		</b-collapse>

		<template v-if="Comparison.comparisons.length > 0">
			<hr>
			<h2>Comparisons</h2>
			<table class="table ">
				<thead>
					<th>#</th>
					<th>Title</th>
					<th>Content</th>
					<th width="110">Action</th>
				</thead>
				<tbody>
					<tr v-for="comparison in Comparison.comparisons">
						<td>{{comparison.id}}</td>
						<td>{{comparison.title}}</td>
						<td>{{comparison.content}}</td>
						<td>
							<button class="btn btn-success" v-b-modal.cuComparison @click="editComparison(comparison)">
								<i class="fa fa-pencil-square-o"></i>
							</button>

							<button class="btn btn-danger" @click="removeComparison(comparison)">
								<i class="fa fa-trash-o"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</template>
	</div>
</template>

<script>
	export default{

	}
</script>