<template>
	<div>
		<b-modal no-close-on-backdrop id="cuCustomerGroup" ref="cuCustomerGroup"  :title="draft.id != null ? 'Edit ' + draft.name : 'Add customer group' ">
				<b-container fluid>
					<div class="form-group mb-1">
						<label  :class="validName ? 'label-required' : 'label-valid'">Name</label>
						<div class="mb-1">
							<input type="text" v-model="draft.name" class="form-control" placeholder="Enter a rol...">
						</div>
					</div>
				</b-container>
				<div slot="modal-footer" class="pull-right">
					<button class="btn btn-outline-danger" 	@click="close">Close</button>
					<button class="btn btn-outline-primary" :disabled="validName" @click.prevent="save">{{draft.id != null ? 'Update' : 'Create'}}</button>
				</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		props:['draft'],
		data(){
			return{

			}
		},
		computed:{
			validName(){
				return this.draft.name == ''
			}
		},
		methods:{
			close(){
				this.$refs.cuCustomerGroup.hide();
			},
			store(){
				this.$store.dispatch('createCustomerGroup',this.draft) 

			},
			update(){
				let id = this.draft.id
				this.$store.dispatch('updateCustomerGroup',{id:id, draft:this.draft})
			},
			save(){
				if (this.draft.id) {
					this.update()
				} else {
					this.store()
				}
				this.close()
			},
		}
	}

</script>