<template>
	<div class="box box-solid box-primary">
      	<div class="box-header with-border">
      		<h3 class="box-title">Inventories</h3>
      	</div>
      	<div class="box-body">
      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="search"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>

      		<div class="clearfix"></div>
			<b-table striped hover 
					responsive 		
					:items="Product.products" 
					:fields="fields">
				<template slot="Quantity" slot-scope="row">
					<b-form-input type="number" v-model="row.item.quantity" class="col-3"/>
				</template>

				<template slot="Stock" slot-scope="row">
					<template v-if="row.item.inventory.length > 0">
						<input type="text" readonly class="form-control col-3" :value="SumQuantity(row.item)">
					</template>
					<template v-else>
						Nothing
					</template>

				</template>

				<template slot="Actions" slot-scope="row">

					<button class="btn btn-outline-success" @click="save(row.item, row.index)">
						<i class="fa fa-check"></i>
					</button>
	      		</template>
			</b-table>
		</div>
		
		<div class="box-footer">
			<div class="row justify-content-md-center">
				<b-pagination :total-rows="Product.totalRows" size="md" v-model="currentPage" @input="getProducts" :per-page="Product.perPage"/>
			</div>
		</div>
	</div>
</template>


<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		watch:{
			search(){
            	this.getProducts()
            }
		},
		data(){
			return{
				currentPage:null,
				draft:{},
				search: '',
				sortBy: 'id',
                sortDesc: true,
				fields: [
					{
						key:'id',
						label:'#',
						sortable:true
					},
					{
						key:'name',
						sortable:true
					},
					{
						'Quantity':true,

					},
					{
						'Stock':true,

					},
					{
						'Actions':true
					}
				],
			}
		},
		computed:{
			...mapState(['Product']),
		},
		methods:{
			getProducts() {
				let params = {page:this.currentPage, target:this.search}
				this.$store.dispatch('getProducts',params) 
			},
			save(item){
				let params = { id:item.id ,draft:{quantity:item.quantity, product_id:item.id}}
				this.$store.dispatch('createInventory',params) 
			},
			SumQuantity(item){
				var arrayNumber = item.inventory.map(inventory => {
					return inventory.quantity
				})

				return arrayNumber.reduce(function(acc,val){return parseInt(acc) + parseInt(val) })
			}
		}
	}
</script>