<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.coupon.edit') : trans('app.coupon.add')"  @hide="close">
    <b-container fluid>
        <template v-if="draft.id">
         <b-row class="mb-1">
           <b-col><label :class="validToken ? 'label-valid' : 'label-required'">{{trans('app.coupon.token')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.token" class="form-control" disabled></b-col>
         </b-row>
        </template>
         <b-row class="mb-1">
           <b-col><label :class="validValue ? 'label-valid' : 'label-required'">{{trans('app.coupon.value')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <input type="number" v-model="draft.value" class="form-control">
           </b-col>
         </b-row>
         <b-row class="mb-1">
              <b-col><label :class="validType ? 'label-valid' : 'label-required'">{{trans('app.coupon.type')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
            <b-col>
                <b-form-select v-model="draft.type" :options="options" class="mb-3"/>
            </b-col>
        </b-row>
    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                options: [
                    { value: null, text: trans('app.common.select') },
                    { value: 'discount', text: trans('app.coupon.discount') },
                    { value: 'percent', text: trans('app.coupon.percent') },
                ],
            }
        },
        methods:{
            close(){
                this.$emit('close')
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updateCoupon', { id: id, draft })
            },
            store(){
                this.$store.dispatch('storeCoupon', this.draft)
            },
        },
        computed:{
            validForm(){
              return this.validToken && this.validValue && this.validType
            },
            validToken(){
              return true
            },
            validValue(){
              return this.draft.value ? this.draft.value > 0 : false
            },
            validType(){
                return this.draft.type
            },
        }
    }
</script>