<template>
    <div class="box box-solid box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{trans('app.coupon.title')}}</h3>
      </div>
      <div class="box-body">
      <div class="form-inline pull-left">
        <button type="button" class="btn btn-info" @click="create">
          <i class="fa fa-plus"> </i>
        </button>
      </div>
      <form class="form-inline pull-right">
        <div class="form-group mx-sm-6 mb-2">
          <label class="sr-only">{{trans('app.common.search')}}</label>
          <input type="text" class="form-control" :placeholder="trans('app.common.search')" v-model="target" @keyup.enter="getCoupons">
        </div>
        <!-- <button type="button" class="btn btn-primary mb-2" @click.prevent="getCoupons"><i class="fa fa-search"></i></button> -->
      </form>
      <div class="clearfix"></div>
        <b-table striped hover
        :items="coupon"
        :fields="fields"
        :no-local-sorting="true"
        @sort-changed="sortingChanged"
        >
        <template slot="value"  slot-scope="row">
            {{row.item.value | money}}
        </template>
        <template slot="type"  slot-scope="row">
            <p class="text-capitalize">{{row.item.type}}</p>
        </template>
        <template slot="applied"  slot-scope="row">
            {{row.item.user_id ? trans('app.common.1') : trans('app.common.0')}}
        </template>
        <template slot="actions" slot-scope="row">
          <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
            <i class="fa fa-trash-o"></i>
          </button>
        </template>
        </b-table>
        <coupon-edit :show="showEdit" :draft="draft" @close="close"></coupon-edit>
      </div>
      <div class="box-footer text-center">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            v-model="currentPage"
            class="my-0"
            @input="getCoupons"
            />
      </div>
    </div>
</template>

<script>
    export default {
        watch:{
            target(){
                this.getCoupons()
            }
        },
        data(){
            return{
                fields: [
                    { key: 'id', label: '#', sortable: true },
                    { key: 'token', label: trans('app.coupon.token'), sortable: true },
                    { key: 'value', label: trans('app.coupon.value'), sortable: true},
                    { key: 'type', label: trans('app.coupon.type'), sortable: true},
                    { key: 'applied', label: trans('app.coupon.applied'), sortable: false},
                    { key: 'actions', label: trans('app.common.actions')},
                ],
                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                showEdit: false,
                sortBy: 'id',
                sortDesc: true,
            }
        },
        created(){
            this.getCoupons()
        },
        methods:{
            edit(coupon, index){
                this.draft = clone(coupon)
                this.currentIndex = index
                this.showEdit = true
            },
            create(){
                this.draft = {
                    id: null,
                    token: '',
                    value: '',
                    type: null,
                    active: null,
                }
                this.showEdit = true
            },
            getCoupons(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getCoupons', params)
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.token +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeCoupon', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getCoupons()
                }
            },
        },
        computed:{
            coupon(){
                return this.$store.state.Coupon.coupons
            },
            current_page(){
                return this.$store.state.Coupon.currentPage
            },
            totalRows(){
                return this.$store.state.Coupon.totalRows
            },
            perPage(){
                return this.$store.state.Coupon.perPage
            },
        }
    }
</script>
