<template>
	<div>
		<b-modal no-close-on-backdrop id="cuOrder" ref="cuOrder"  :title="draft.id != null ? 'Edit ' + draft.user.name : 'Add Order' ">
			<b-container fluid>

				<template v-if="draft.user">		
					<div class="form-group mb-1">
						<label :class="validName ? 'label-required' :'label-valid'">User</label>
						<div class="mb-1">
							<input readonly type="text" v-model="draft.user.name" class="form-control" placeholder="Add a name...">
						</div>
					</div>
				</template>
					
				<template v-if="draft.address">
					<div class="form-group mb-1">
						<label :class="validAddress ? 'label-required' :'label-valid'">Address</label>
						<div class="mb-1">
							<input readonly type="text" class="form-control" v-model="draft.address.name">
						</div>
					</div>
				</template>
				<div class="form-group mb-1">
					<label :class="validStatus ? 'label-required' :'label-valid'">Status</label>
					<div class="mb-1">
						<select class="form-control" v-model="draft.status">
							<option value="" selected disabled>Select...</option>
							<option value="pending" >Pending</option>
							<option value="process" >Process</option>
							<option value="completed" >Completed</option>
						</select>
					</div>
				</div>
			</b-container>
			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" 	@click="close">Close</button>
				<button class="btn btn-outline-primary" :disabled="validForm" @click.prevent="save">{{draft.id != null ? 'Update' : 'Create'}}</button>
			</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		props:['draft'],
		data(){
			return{

			}
		},
		methods:{
			close(){
				this.$refs.cuOrder.hide();
			},
			save(){
				if(!this.draft.id){
					this.store()
				} else {
					this.update()
				}
				this.close()
			},
			update(){
				this.$store.dispatch('updateOrder',{id:this.draft.id, draft:this.draft}) 
			}
		},
		computed:{
			validForm(){

			},
			validAddress(){

			},
			validName(){

			},
			validStatus(){

			}
		}
	}
</script>