<template>
	<div>
		<b-modal no-close-on-backdrop id="cuTax" ref="cuTax"  :title="draft.id != null ? 'Edit ' + draft.zip_code : 'Add tax'">
			<b-container fluid>
				<div class="form-group mb-1">
					<label :class="validZipcode ? 'label-required' :'label-valid'">Zip code</label>
					<div class="mb-1">
						<input type="text" v-model="draft.zip_code" class="form-control" placeholder="Add a zip code...">
					</div>
				</div>
				<div class="form-group mb-1">
					<label :class="validAmount ? 'label-required' :'label-valid'">Amount</label>
					<div class="mb-1">
						<input type="number" class="form-control" v-model="draft.amount" placeholder="Add a amount...">
					</div>
				</div>

				<div class="form-group mb-1">
					<label :class="validStatus ? 'label-required' :'label-valid'">Status</label>
					<div class="mb-1">
						<select class="form-control" v-model="draft.status">
							<option value="" disabled selected>Select...</option>
							<option value="1">Active</option>
							<option value="0">Inactive</option>
						</select>
					</div>
				</div>
			</b-container>
			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" 	@click="close">Close</button>
				<button class="btn btn-outline-primary" :disabled="validForm" @click.prevent="save">{{draft.id != null ? 'Update' : 'Create'}}</button>
			</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		props:['draft'],
		data(){
			return{

			}
		},
		methods:{
			close(){
				this.$refs.cuTax.hide();
			},
			save(){
				if(!this.draft.id){
					this.store()
				} else {
					this.update()
				}
				this.close()
			},
			update(){
				this.$store.dispatch('updateTax', {draft:this.draft , id:this.draft.id})
			},
			store(){
				this.$store.dispatch('createTax', {draft:this.draft})
			}
		},
		computed:{
			validForm(){
				return this.draft.zip_code == '' || this.draft.amount == '' || this.draft.status == ''
			},
			validZipcode(){
				return this.draft.zip_code == ''
			},
			validAmount(){
				return this.draft.amount == ''
			},
			validStatus(){
				return this.draft.status == ''
			}
		}
	}
</script>