<template>
	<div>
		<b-modal no-close-on-backdrop id="cAttribute" ref="cAttribute"  title="Add attribute">
			<b-container fluid>
				<div class="form-group mb-1">
					<label :class="validName ? 'label-required' : 'label-valid'">Name</label>
					<div class="mb-1">
						<input type="text" class="form-control" v-model="name" placeholder="Enter a name...">
					</div>
				</div>
			</b-container>
			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" 	@click="close">Close</button>
				<button class="btn btn-outline-primary" :disabled="validName" @click.prevent="save">Create</button>
			</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				name:'',
			}
		},
		computed:{
			validName(){
				return this.name == ''
			}
		},
		methods:{
			close(){
				this.$refs.cAttribute.hide();
			},
			save(){
				this.$store.dispatch('createAttribute', {name:this.name})
				this.close()
				this.name = ''
			}
		},
	}
</script>