<template>
	<div class="box box-solid box-primary">
		<c-attribute/>
      	<div class="box-header with-border">
      		<h3 class="box-title">Attributes</h3>
      	</div>
      	<div class="box-body">
			<div class="form-inline pull-left">
				<button class="btn btn-info" v-b-modal.cAttribute>
					<i class="fa fa-plus"></i>
				</button>
			</div>

			<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="search"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>

	      	<table class="table table-striped table-hover">
	      		<thead>
	      			<th>#</th>
	      			<th>Name</th>
	      			<th>Action</th>
	      		</thead>
	      		<tbody>
	      			<tr v-for="attribute in Attribute.attributes">
							<template v-if="attribute.id != draft.id">
	      					<td>{{attribute.id}}</td>
	      					<td>{{attribute.name }}</td>
		      				<td>
		      					<button class="btn btn-success" @click="editAttribute(attribute)">
		      						<i class="fa fa-pencil-square-o"></i>
		      					</button>

		      					<button class="btn btn-danger" @click="removeAttribute(attribute)">
		      						<i class="fa fa-trash-o"></i>	
		      					</button>
		      				</td>
  						</template>

	      				<template v-else>
	      					<td>{{attribute.id}}</td>
	      			
	      					<td>
	      						<input type="text" v-model="draft.name" class="form-control">
	      					</td>

	      					<td>
	      						<button class="btn btn-success" @click="updateAttribute(attribute)">
	      							<i class="fa fa-check"></i>
	      						</button>

	      						<button class="btn btn-warning" @click="discardAttribute()">
	      							<i class="fa fa-times"></i>
	      						</button>
	      					</td>
  						</template>
	      			</tr>
	      		</tbody>
      		</table>
		</div>
		<div class="box-footer">
			<div class="row justify-content-md-center">
				<b-pagination :total-rows="Attribute.totalRows" size="md" v-model="currentPage" @input="getAttributes" :per-page="Attribute.perPage"/>
			</div>
		</div>
	</div>
</template>


<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		watch:{
			search(){
            	this.getAttributes()
            }
		},
		data(){
			return{
				currentPage:null,
				draft:{},
				search:'',
			}
		},
		computed:{
			...mapState(['Attribute'])
		},
		methods:{
			getAttributes(){
				let params = {page:this.currentPage, target:this.search}
				this.$store.dispatch('getAttributes',params) 
			},
			editAttribute(attribute){
				this.draft=clone(attribute)
			},
			updateAttribute(attribute){
				this.$store.dispatch('updateAttribute', {id:attribute.id, draft:this.draft}) 
				this.draft = {}
			},
			removeAttribute(attribute){
					this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + attribute.name +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
						this.$store.dispatch('removeAttribute', {id:attribute.id}) 
					}
				})		
			},
			discardAttribute(){
				this.draft = {}
			}

		}	
	}
</script>