<template>
	<div>
		<b-modal no-close-on-backdrop id="cuManufacturer" ref="cuManufacturer" size="lg" :title="draft.id != null ? 'Edit ' + draft.name : 'Add Manufacturer' ">
			<b-container fluid>
					<div class="form-group mb-1 ">
						<label :class="validName ? 'label-required' : 'label-valid' ">Name</label>
						<div class="mb-1">
							<input type="text" v-model="draft.name" class="form-control" placeholder="Enter a name...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validAddress ? 'label-required' : 'label-valid' ">Address</label>
						<div class="mb-1">
							<input type="text" v-model="draft.address" class="form-control" placeholder="Enter an address...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validEmail2 ? 'label-required' : 'label-valid' ">Email</label>
						<div class="mb-1">
							<b-form-input  type="email" v-model="draft.email" class="form-control" placeholder="Enter an email..." />
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validPhone ? 'label-required' : 'label-valid' ">Phone</label>
						<div class="mb-1">
							<input type="text" v-model="draft.phone" class="form-control" placeholder="Enter a phone...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validAlias ? 'label-required' : 'label-valid' ">Alias</label>
						<div class="mb-1">
							<input type="text" v-model="draft.alias" class="form-control" placeholder="Enter an alias...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validTitle ? 'label-required' : 'label-valid' ">Tittle</label>
						<div class="mb-1">
							<input type="text" v-model="draft.title" class="form-control" placeholder="Enter an title...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validHeading ? 'label-required' : 'label-valid' ">Heading</label>
						<div class="mb-1">
							<input type="text" v-model="draft.heading" class="form-control" placeholder="Enter an heading...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validDescription ? 'label-required' : 'label-valid' ">Description</label>
						<div class="mb-1">
							<wysiwyg v-model="draft.description" />
							
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validImage ? 'label-required' : 'label-valid' ">Image</label>
						<div class="mb-1">
							<template v-if="!base64">
			 					<b-img :src="'storage/manufacturers/'+draft.image" width="180" height="180" fluid alt="Add to Image" />	
								<b-form-file  
									ref="fileinput"
									accept=".jpg, .png" 
									placeholder="Choose a file..." 
									@change="processFile($event)"/>
							</template>

							<template v-else>
			 					<b-img :src="base64" width="180" height="180" fluid alt="Responsive image" />		
								<b-form-file  
									ref="fileinput"
									accept=".jpg, .png" 
									placeholder="Choose a file..." 
									@change="processFile($event)"/>				
							</template>
						</div>
					</div>
			</b-container>
			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" @click="close">Close</button>
				<button class="btn btn-outline-primary" :disabled="validForm" @click.prevent="save">{{draft.id != null ? 'Update' : 'Create'}}</button>
			</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		props:['draft'],
		data(){
			return{
				base64:'',		
			}
		},
		methods:{
			close(){
				this.$refs.cuManufacturer.hide()
				this.$refs.fileinput.reset();
				this.base64 = ''
			},
			save(){
				if(this.draft.id) {
					this.update()
				} else {
					this.store()
				}
				this.close()
			},
			store(){
				this.$store.dispatch('createManufacturer',{draft:this.draft, Base64Img:this.base64})
				this.base64=''
			},
			update(){
				let draft = this.draft
				let id = this.draft.id
				this.$store.dispatch('updateManufacturer', { id:id, draft:this.draft, Base64Img:this.base64}) 
			},
			processFile(e) {
				let files = e.target.files || e.dataTransfer.files;
				this.draft.image = files[0].name;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.base64 = e.target.result;
                };
                reader.readAsDataURL(file);
            },
		},
		computed:{
			validForm(){
				return this.draft.name == '' || this.draft.address == '' || this.draft.email == '' || this.draft.phone == '' || this.draft.alias == '' || this.draft.title == '' || this.draft.heading == '' || this.draft.description == '' || this.draft.image == '' || !this.validEmail;
			},
			validEmail() {
      			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(this.draft.email);
      		},
      		validName(){
				return this.draft.name == ''
      		},
      		validAddress(){
      			return this.draft.address == ''
      		},
      		validEmail2(){
      			return this.draft.email == '' || !this.validEmail
      		},
      		validPhone(){
      			return this.draft.phone == ''
      		},
      		validAlias(){
      			return this.draft.alias == ''
      		},
      		validTitle(){
      			return this.draft.title == ''
      		},
      		validHeading(){
      			return this.draft.heading == ''
      		},
      		validDescription(){
      			return this.draft.description == ''
      		},
      		validImage(){
      			return this.draft.image == '' 
      		},

      		
		},
	}
</script>