<template>
	<div class="box box-solid box-primary">
		<cu-manufacturer :draft="draft"/>
      	<div class="box-header with-border">
      		<h3 class="box-title">Manufacturers</h3>
      	</div>
      	<div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-info " v-b-modal.cuManufacturer @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>

      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="search"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>

      		<div class="clearfix"></div>
			<b-table striped hover  
					responsive 		
					:items="Manufacturer.manufacturers" 
					:fields="fields">

				<template slot="image" slot-scope="data">
				  <b-img thumbnail fluid width="180" height="180" :src="'storage/manufacturers/'+data.value" alt="Thumbnail" />
	      		</template>

				<template slot="Actions" slot-scope="row">

					<button class="btn btn-success" v-b-modal.cuManufacturer  @click="edit(row.item, row.index)">
						<i class="fa fa-edit"></i>
					</button>

					<button class="btn btn-danger " @click="remove(row.item, row.index)">
						<i class="fa fa-trash-o"></i>
					</button>
	      		</template>
			</b-table>
		</div>
		<div class="box-footer">
			<div class="row justify-content-md-center">
				<b-pagination :total-rows="Manufacturer.totalRows" size="md" v-model="currentPage" @input="getManufacturers" :per-page="Manufacturer.perPage"/>
			</div>
		</div>
	</div>
</template>


<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		watch:{
			search(){
				this.getManufacturers();
			}
		},
		data(){
			return{
				search:'',
				draft:{},
				currentPage:null,
					fields: [
				{
					key:'id',
					label:'#',
					sortable:true
				},
				{
					key:'image',
					label:'Images',
					formatter:'image'
				},
				{
					key:'name',
					sortable:true
				},
				{
					key:'email',
					sortable:true
				},
				{
					key:'phone',
					sortable:true
				},

				{
					'Actions':true
				}
				],
			}
		},
		computed:{
			...mapState(['Manufacturer']),
		},
		methods:{
			image(value){
				return value
			},
			getManufacturers(){
				let params = {page:this.currentPage, target:this.search}
				this.$store.dispatch('getManufacturers',params) 
			},
			create(){
				this.draft = {
					id: null,
					name : '',
					address : '', 
					email : '', 
					phone : '', 
					alias : '', 
					title : '', 
					heading : '', 
					description : '', 
					image : '',
				}
			},
			remove(item, index){
			this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + item.name +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
                		this.$store.dispatch('removeManufacturer', item.id)
					}
				})
			},
			edit(item, index){
				this.draft = clone(item)
			}
		}
	}
</script>