
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "styles";

//Custom
@import "custom";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

@import 'themify-icons/themify-icons';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
