<template>
	<div>
		<b-modal no-close-on-backdrop id="cuCustomer" ref="cuCustomer" size="lg" :title="draft.id != null ? 'Edit ' + draft.name : 'Add customer' ">
				<b-container fluid>
					<div class="form-group mb-1">
						<label :class="validName ? 'label-required' : 'label-valid'">Name</label>
						<div class="mb-1">
							<input type="text" v-model="draft.name" class="form-control" placeholder="Enter a name...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validEmail ? 'label-required' : 'label-valid'">Email</label>
						<div class="mb-1">
							<input type="text" v-model="draft.email" class="form-control" placeholder="Enter a email...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validPassword ? 'label-required' : 'label-valid'">Password</label>
						<div class="mb-1">
							<input type="password" v-model="draft.password" class="form-control" placeholder="Enter a password...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validPassword ? 'label-required' : 'label-valid'">Repeat Password</label>
						<div class="mb-1">
							<input type="password" v-model="draft.repeat_password" class="form-control" placeholder="Repeat password again...">
						</div>
					</div>

					<div class="form-group mb-1">
						<label :class="validRol ? 'label-required' : 'label-valid'">Rol</label>
						<div class="mb-1">
							<select class="form-control" v-model="draft.rol_id">
								<option value="" selected disabled>Select...</option>
								<option v-for="value in CustomerGroup.allCustomersGroup" :value="value.id">{{value.name}}</option>
							</select>
						</div>
					</div>

					<hr>
					<h1>Address</h1>
					<div class="form-group ">
						<label :class="validAddress ? 'label-required ' : 'label-valid '">Address</label>
						<div class="row">	
							<div class="col-sm-11">
								<input type="text" v-model="draft.nameAddress" class="form-control" placeholder="Enter a Address...">
							</div>
							<div class="col-sm-1">
								<button class="btn btn-info" @click="addArr()">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
					</div>

					<template v-if="arr.length > 0">
						<div class="form-group ">
							<ul class="list-group" v-for="value,index in arr">
								<li class="list-group-item">{{value.name}}
									<span class="float-right">
										<a href="#" @click="removeArr(value,index)">
											<i class="fa fa-trash-o"></i>
										</a>
									</span>
								</li> 
							</ul>
						</div>
						
						<template v-if="draft.id != null">
							<div class="form-group ">
								<div class="float-right">
									<button class="btn btn-info" @click="createAddres">
										<i class="fa fa-check"> Add address</i>
									</button>
								</div>
							</div>
						</template>
					</template>

					<template v-if="draft.id !=null">
						<template v-if="Address.addresses.length > 0">
							<ul class="list-group" v-for="address,index in Address.addresses">
								<li class="list-group-item">{{address.name}} <span class="float-right"><a href="#" @click="removeAddress(address,index)"><i class="fa fa-trash-o"></i></a></span></li> 
							</ul>
						</template>
					</template>
				
				</b-container>
				<div slot="modal-footer" class="pull-right">
					<button class="btn btn-outline-danger" 	@click="close">Close</button>
					<button class="btn btn-outline-primary" :disabled="validForm" @click.prevent="save">{{draft.id != null ? 'Update' : 'Create'}}</button>
				</div>
		</b-modal>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		props:['draft'],
		data(){
			return{
				arr:[]
			}
		},
		mounted(){
			this.$store.dispatch('getAllCustomersGroup') 
			this.$store.dispatch('getAddresses') 

		},
		methods:{
			createAddres(){
				this.$store.dispatch('createAddress',{id:this.draft.id , draft:this.arr}) 
				this.arr=[]
				this.draft.nameAddress = ''


			},
			removeAddress(address){
				if (confirm('Do you want remove address '+address.name)) {
					this.$store.dispatch('removeAddress',address.id) 
				}
			},
			removeArr(index){
				this.arr.splice(index,1)
			},
			addArr(){

				this.arr.push({
					name:this.draft.nameAddress
				})
				this.draft.nameAddress = ''

			},
			close(){
				this.$refs.cuCustomer.hide();
				this.arr=[]
			},
			store(){
				this.$store.dispatch('createCustomer',{draft:this.draft, arr:this.arr}) 

			},
			update(){
				let id = this.draft.id
				this.$store.dispatch('updateCustomer',{id:id, draft:this.draft})
			},
			save(){
				if (this.draft.id) {
					this.update()
				} else {
					this.store()
				}
				this.close()
			},
		},
		computed:{
			...mapState(['CustomerGroup']),
			...mapState(['Address']),
			validForm(){
				return this.draft.name == '' || this.validEmail || this.draft.password == '' || this.draft.rol_id == ''  || !this.validatePassword || this.validAddress2
			},
			validatePassword(){
				return this.draft.password == this.draft.repeat_password
			},
			validEmail2() {
      			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(this.draft.email);
      		},
      		validAddress2() {
      			this.arr.length > 0
      		},
      		validName(){
      			return this.draft.name == ''
      		},
      		validEmail(){
      			return this.draft.email == '' || !this.validEmail2 
      		},
      		validPassword(){
      			return this.draft.password == '' || !this.validatePassword
      		},
      		validRol(){
      			return this.draft.rol_id == ''
      		},
      		validAddress(){
      			return !this.draft.nameAddress 
      		}
		},
	}

</script>