<template>
	<div class="box box-solid box-primary">
		<cu-customer :draft="draft"/>
      	<div class="box-header with-border">
      		<h3 class="box-title">Customers</h3>
      	</div>
      	<div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-info " v-b-modal.cuCustomer @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>

      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="search" class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>

      		<div class="clearfix"></div>
			<b-table striped hover 
					responsive 		
					:items="Customer.customers" 
            		@sort-changed="sortingChanged"
					:fields="fields">
				<template slot="Actions" slot-scope="row">

					<button class="btn btn-success" v-b-modal.cuCustomer  @click="edit(row.item, row.index)">
						<i class="fa fa-edit"></i>
					</button>

					<button class="btn btn-danger " @click="remove(row.item, row.index)">
						<i class="fa fa-trash-o"></i>
					</button>
					
	      		</template>
			</b-table>
		</div>
		
		<div class="box-footer">
			<div class="row justify-content-md-center">
				<b-pagination :total-rows="Customer.totalRows" size="md" v-model="currentPage" @input="getCustomers" :per-page="Customer.perPage"/>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		watch:{
			search(){
            	this.getCustomers()
            }
		},
		data(){
			return{
				currentPage:null,
				search:'',
				draft:{},
				sortBy: 'id',
                sortDesc: true,
                fields: [
					{
						key:'id',
						label:'#',
						sortable:true
					},
					{
						key:'name',
						sortable:true
					},
					{
						key:'email',
						sortable:true
					},
					{
						label:'Rol',
						key:'rol.name',
						sortable:true
					},
					{
						'Actions':true
					}
				],
			}
		},
		computed:{
			...mapState(['Customer']),
		},
		methods:{
			getCustomers() {
				let params = {page:this.currentPage, target:this.search}
				this.$store.dispatch('getCustomers',params) 
			},
			create(){
				this.draft = {
					id:null,
					name:'',
					email:'',
					password:'',
					repeat_password:'',
					rol_id:'',
				}
			},
			edit(item){
				this.draft = clone(item)
				this.$store.dispatch('getAddresses',{id:item.id}) 

			},
			remove(item){
				this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + item.name +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
						this.$store.dispatch('removeCustomer',item.id) 
					}
				})
			},
			sortingChanged (ctx) {
  				if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = null
                    this.getCustomers()
                }
		    }
		}
	}
</script>