<template>
	<div>
		<div class="form-group ">
			<label :class="validAlias ? 'label-required' : 'label-valid'">Alias</label>
			<div class="mb-1">
				<input type="text" v-model="draft.alias" class="form-control" placeholder="Enter an alia...">
			</div>
		</div>
  		<div class="form-group ">
			<label :class="validSKU ? 'label-required' : 'label-valid'">SKU</label>
			<div class="mb-1">
				<input type="text" v-model="draft.SKU" class="form-control" placeholder="Enter a sku...">
			</div>
		</div>
		<div class="form-group ">
			<label :class="validManufacturer ? 'label-required' : 'label-valid'">Manufacturer</label>
			<div class="mb-1">
				<select  v-model="draft.manufacturer_id" class="form-control" >
					<option value="" selected disabled>Select...</option>
					<option  v-for="manufacturer in Manufacturer.allManufacturers" :value="manufacturer.id">{{manufacturer.name}}</option>
				</select>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validImage ? 'label-required' : 'label-valid'">Main image</label>
			<div class="mb-1">
				<template v-if="!base64">
			 		<b-img :src="'storage/products/'+draft.main_image"  width="150" height="150" alt="Select an image" class="m-1" />
				</template>

				<template v-else>
			 		<b-img :src="base64"  width="150" height="150" alt="Select an image" class="m-1" />
				</template>

				<label class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add an image" >
 					<span aria-hidden="true"> 
 						<i class="fa fa-paperclip"></i>
 						<b-form-file  
							ref="fileinput"
							multiple
							accept=".jpg, .png" 
							placeholder="Choose a file..." 
							@change="processFile($event)"
							style="display: none"/>
 					</span>
				</label>
				
			</div>
		</div>

		<div class="form-group ">
			<label :class="validCategory ? 'label-required' : 'label-valid'">Category</label>
			<div class="mb-1">
				<select  v-model="draft.category_id" class="form-control" >
					<option value="" selected disabled>Select...</option>
					<option  v-for="category in Category.allCategories" :value="category.id">{{category.name}}</option>
				</select>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validPrice ? 'label-required' : 'label-valid'">Price</label>
			<div class="mb-1">
				<b-form-input type="number" v-model="draft.price" placeholder="Enter a price..."/>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validLength ? 'label-required' : 'label-valid'">Length</label>
			<div class="mb-1">
				<b-form-input type="number" v-model="draft.length" placeholder="Enter a length..."/>							
			</div>
		</div>

		<div class="form-group ">
			<label :class="validWidth ? 'label-required' : 'label-valid'">Width</label>
			<div class="mb-1">
				<b-form-input type="number" v-model="draft.width" placeholder="Enter a width..."/>							
			</div>
		</div>

		<div class="form-group ">
			<label :class="validHeight ? 'label-required' : 'label-valid'">Height</label>
			<div class="mb-1">
				<b-form-input type="number" v-model="draft.height" placeholder="Enter a height..."/>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validWeight ? 'label-required' : 'label-valid'">Weight</label>
			<div class="mb-1">
				<b-form-input type="number" v-model="draft.weight" placeholder="Enter a weight..."/>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validUnit ? 'label-required' : 'label-valid'">Weight Unit</label>
			<div class="mb-1">
				<select class="form-control" v-model="draft.weight_unit_id">
					<option value="" selected disabled>Select...</option>
					<option v-for="weight_unit in WeightUnit.weight_units" :value="weight_unit.id">{{weight_unit.name}}</option>
				</select>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validQuantity ? 'label-required' : 'label-valid'">Minimum Quantity</label>
			<div class="mb-1">
				<b-form-input type="number" v-model="draft.min_quantity" placeholder="Enter a minimum quantity..."/>
			</div>
		</div>

		<div class="form-group ">
			<label :class="validStatus ? 'label-required' : 'label-valid'">Status</label>
			<div class="mb-1">
				<select v-model="draft.status" class="form-control">
					<option value="" selected disabled>Select..</option>
					<option value="0">Inactive</option>
					<option value="1">Active</option>
				</select>
			</div>
		</div>

		<template v-if="draft.id != null">
			<button class="btn btn-otuline-primary pull-right"  @click="UpdateProduct()">
				Update <i class="fa fa-check"> </i>
			</button>
		</template>
	
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		props:['draft'],
		data(){
			return{
				base64:'',
			}
		},
		created(){
			this.$store.dispatch('getWeightUnits') 
			this.$store.dispatch('getAllManufacturers') 
			this.$store.dispatch('getAllCategories') 
		},
		methods:{
			UpdateProduct(){
				let draft = this.draft
				let id = this.draft.id
				this.$store.dispatch('updateProduct', { id:id, draft:this.draft ,Base64Img:this.base64}) 
				this.$router.push({name:'products'})
			},
			processFile(e) {
				let files = e.target.files || e.dataTransfer.files;
				let file = e.target.files[0];
				this.draft.main_image = files[0].name;
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.base64 = e.target.result;
                    vm.draft.base64 = e.target.result;

                };
                reader.readAsDataURL(file);
            },
		},
		computed:{
			...mapState(['WeightUnit']),
			...mapState(['Manufacturer']),
			...mapState(['Category']),
			validAlias(){
				return this.draft.alias == ''
			},
			validSKU(){
				return this.draft.SKU == ''

			},
			validManufacturer(){
				return this.draft.manufacturer_id == ''

			},
			validImage(){
				return this.draft.main_image == ''

			},
			validCategory(){
				return this.draft.category_id == ''

			},
			validPrice(){
				return this.draft.price == ''

			},
			validLength(){
				return this.draft.length == ''

			},
			validWidth(){
				return this.draft.width == ''

			},
			validHeight(){
				return this.draft.height == ''

			},
			validWeight(){
				return this.draft.weight == ''

			},
			validUnit(){
				return this.draft.weight_unit_id == ''

			},
			validQuantity(){
				return this.draft.min_quantity == ''

			},
			validStatus(){
				return this.draft.status == ''

			}
		},
	}
</script>