<template>
	<div>
		<b-modal no-close-on-backdrop id="cuPriceSpecial" ref="cuPriceSpecial" size="lg" :title="'Add price specials'">
			<b-container fluid>

				<button class="btn btn-info" v-b-toggle.createDiscount>
					<i class="fa fa-plus"></i>
				</button>

				<b-collapse id="createDiscount" class="mt-2">
					<b-card>
						<div class="form-group mb-1">
							<label :class="validPercent ? 'label-required' :'label-valid'">amount</label>
							<div class="mb-1">
								<input type="number" v-model="draft.amountPriceSpecial" class="form-control" placeholder="Add a percent...">
							</div>
						</div>

						<div class="form-group mb-1">
							<label :class="validStartDate ? 'label-required' :'label-valid'">Start date</label>
							<div class="mb-1">
								<flat-pickr class="form-control" placeholder="Add a date..." v-model="draft.start_datePriceSpecial"></flat-pickr>
							</div>
						</div>

						<div class="form-group mb-1">
							<label :class="validEndDate ? 'label-required' :'label-valid'">End date</label>
							<div class="mb-1">
								<flat-pickr class="form-control" placeholder="Add a date..."v-model="draft.end_datePriceSpecial"></flat-pickr>
							</div>
						</div>
						
						<div class="float-right">
							<button class="btn btn-info" @click="createDiscount()"> 
								<i class="fa fa-plus">Add price special</i>
							</button>
						</div>
					</b-card>
				</b-collapse>
	
				<template v-if="PriceSpecial.price_specials.length > 0">
					<hr>
					<h1>Price specials</h1>
					<table class="table">
						<thead>
							<th>#</th>
							<th>Amount</th>
							<th>Start date</th>
							<th>End date</th>
							<th width="110">Action</th>
						</thead>
						<tbody>
							<tr v-for="price_special in PriceSpecial.price_specials">
								<template v-if="price_special.id != draftPriceSpecial.id">
									<td>{{price_special.id}}</td>
									<td>{{price_special.amount}}</td>
									<td>{{price_special.start_date | moment("DD/MM/YYYY") }}</td>
									<td>{{price_special.end_date | moment("DD/MM/YYYY") }}</td>
									<td>
										<button class="btn btn-success" @click="editPriceSpecial(price_special)">
											<i class="fa fa-pencil-square-o"></i>
										</button>

										<button class="btn btn-danger" @click="removePriceSpecial(price_special)">
											<i class="fa fa-trash-o"></i>
										</button>
									</td>
								</template>
								<template v-else>
									<td>{{price_special.id}}</td>
									<td>
										<input type="text" class="form-control" v-model="draftPriceSpecial.amount">
									</td>
									<td>
 										<flat-pickr class="form-control" v-model="draftPriceSpecial.start_date"></flat-pickr>
									</td>
									<td>
										<flat-pickr class="form-control" v-model="draftPriceSpecial.end_date"></flat-pickr>
									</td>
									<td>
										<button class="btn btn-success" @click="updatePriceSpecial(price_special)">
											<i class="fa fa-check"></i>
										</button>

										<button class="btn btn-warning" @click="discardDiscount(price_special)">
											<i class="fa fa-times"></i>
										</button>
									</td>
								</template>
							</tr>
						</tbody>
					</table>
				</template>
			</b-container>
			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" 	@click="close">Close</button>
			</div>
		</b-modal>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{

		props:['draft','id'],
		data(){
			return{
				draftPriceSpecial:[]
			}
		},
		created(){
			this.$store.dispatch('getPriceSpecials')
		},
		methods:{
			createDiscount(){
				this.$store.dispatch('createPriceSpecial',{draft:this.draft, option_id:this.id})

			},
			updatePriceSpecial(price_special){
				this.$store.dispatch('updatePriceSpecial',{id:price_special.id, draft:this.draftPriceSpecial})
				this.discardDiscount();
			},
			discardDiscount(){
				this.draftPriceSpecial = []
			},
			editPriceSpecial(price_special){
				this.draftPriceSpecial = clone(price_special) 
			},
			removePriceSpecial(price_special){
				this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + price_special.id +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
						this.$store.dispatch('removePriceSpecial',price_special.id)
					}
				})		
			},
			close(){
				this.$refs.cuPriceSpecial.hide();
			},
			save(){

			},

		},
		computed:{
			validForm(){

			},
			validPercent(){
				return 	this.draft.percentDiscount = ''
			},
			validMin(){
				return 	this.draft.min_quantityDiscount = ''

			},
			validMax(){
				return this.draft.max_quantityDiscount = ''

			},
			validStartDate(){
				return this.draft.start_dateDiscount = ''

			},
			validEndDate(){
				return this.draft.end_dateDiscount = ''

			},
			...mapState(['PriceSpecial']),

		}
	}
</script>