<template>
	<div>
		<c-attribute-value :draft="draft" :arr="arr"/>
		<div class="form-group ">
			<label for="">Add a Attribute:</label>
	        <button class="btn btn-info " v-b-modal.cAttributeValue >
	          	<i class="fa fa-plus ">  </i>
	        </button>
		</div>

		<template v-if="arr.length > 0">
			<div class="box box-solid box-primary">
	      		<div class="box-header with-border">
	      			Attribute assign
	      		</div>
	      		
	      		<div class="box-body">
	      			<table class="table table-hover ">
						<thead>
							<th>Attribute</th>
							<th>Value</th>
							<th>Status</th>
							<th>Action</th>
						</thead>
						<tbody>
							<template v-for="attribute in Attribute.allAttributes">
								<tr v-for="value,index in arr">
									<template v-if="value.attribute_id == attribute.id">
										<td>{{attribute.name}}</td>
										<td>{{value.value}}</td>
										<td>{{value.status == 1 ? 'Active' : 'Inactive'}}</td>
										<td>
											<button class="btn btn-danger" @click="removeArr(value,index)">
												<i class="fa fa-trash-o"></i>
											</button>
										</td>
									</template>
								</tr>
							</template>
						</tbody>
					</table>
	      		</div>
				
				<template v-if="draft.id != null">
					<div class="box-footer">
		      			<div class="pull-right">
		      				<button class="btn btn-primary" @click="createAttributeValue()">
								<i>Add atribute</i>
							</button>
		      			</div>
					</div>
				</template>
	      		
      		</div>
		</template>

		<template v-if="AttributeValue.attributeInProducts.length > 0">

			<div class="box box-solid box-primary">
	      		<div class="box-header with-border">
	      			Attributes
	      		</div>

	      		<div class="box-body">
					<table class="table table-hover ">
						<thead>
							<th>#</th>
							<th>Attribute</th>
							<th>Value</th>
							<th>Status</th>
							<th>Action</th>
						</thead>
						<tbody>
							<template v-for="attribute in Attribute.allAttributes">
								<tr v-for="value,index in AttributeValue.attributeInProducts">
									<template v-if="value.attribute_id == attribute.id">
										<td>{{value.id}}</td>
										<td>{{attribute.name}}</td>
										<td>{{value.value}}</td>
										<td>{{value.status == 1 ? 'Active' : 'Inactive'}}</td>
										<td>
											<button class="btn btn-danger" @click="removeAttributeValue(value)">
												<i class="fa fa-trash-o"></i>
											</button>
										</td>
									</template>
								</tr>
							</template>

						</tbody>
					</table>
				</div>
			</div>
		</template>

	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		props:['draft','arr'],
		data(){
			return{

			}
		},
		created(){
			this.$store.dispatch('getAllAttributes')
			this.$store.dispatch('getAttributeValuesInProduct')

		},
		computed:{
			...mapState(['Attribute']),
			...mapState(['AttributeValue']),

		},
		methods:{
			createAttributeValue(){
				let id = this.draft.id
				this.$store.dispatch('createAttributeValue',{id:id ,draft:this.arr})
				this.arr = []
			},
			removeArr(index){
				this.arr.splice(index,1)
			},
			removeAttributeValue(value){
				this.$store.dispatch('removeAttributeValue',value.id)
			}
		}
	}
</script>