<template>
	<div>
		<b-modal no-close-on-backdrop id="cAttributeValue" ref="cAttributeValue" size="lg" title="Add attribute ">
				<b-container fluid>
					<div class="form-group row">
						<label for="staticEmail" class="col-sm-2 col-form-label">Attribute</label>
						<div class="col-sm-10">
							<select class="form-control" v-model="draft.attribute_id">
								<option value="" selected disabled>Select...</option>
								<option v-for="attribute in Attribute.allAttributes" :value="attribute.id">{{attribute.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Value</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="draft.valueAttribute">
						</div>

						
					</div>

					<div class="form-group row">

						<label for="inputPassword" class="col-sm-2 col-form-label">Status</label>
						<div class="col-sm-9">
							<select v-model="draft.statusAttribute" class="form-control">
								<option value="" selected disabled>Select...</option>
								<option :value="1">Active</option>
								<option :value="0">Inactive</option>
							</select>
						</div>

						<button class="btn btn-info" :disabled="draft.attribute_id == null || draft.valueAttribute == null" @click="addArr(draft)">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</b-container>
				<div slot="modal-footer" class="pull-right">
					<button class="btn btn-outline-danger" 	@click="close">Close</button>
				</div>
		</b-modal>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		props:['draft','arr'],
		data(){
			return{
				
			}
		},
		created(){
			this.$store.dispatch('getAllAttributes')
		},
		computed:{
			...mapState(['Attribute']),
		
		},
		methods:{
			removeArr(index){
				this.arr.splice(index,1)
			},
			addArr(draft){
				this.arr.push({
					attribute_id:this.draft.attribute_id,
					value:this.draft.valueAttribute,
					status:this.draft.statusAttribute,
				})
				this.draft.attribute_id = ''
				this.draft.valueAttribute = ''
				this.draft.statusAttribute = ''
			},
			close(){
				this.$refs.cAttributeValue.hide()
			},
			store(){

			}
		}
	}
</script>