<template>	
	<div>			
		<div class="form-group ">
			<label :class="validTitle ? 'label-required' : 'label-valid'">Page Title:</label>
			<div class="mb-1">
				<input type="text" v-model="draft.name" class="form-control" placeholder="Enter a name...">
			</div>
		</div>

		<div class="form-group ">
			<label :class="validHeading ? 'label-required' : 'label-valid'">Page Heading:</label>
			<div class="mb-1">
				<input type="text" v-model="draft.page_heading" class="form-control" placeholder="Enter a page heading...">
			</div>
		</div>

		<div class="form-group ">
			<label :class="validDescription ? 'label-required' : 'label-valid'">Short description:</label>
			<div class="mb-1">
				<wysiwyg v-model="draft.short_description" />
			</div>
		</div>

		<div class="form-group ">
			<label :class="validLong ? 'label-required' : 'label-valid'">Long Description:</label>
			<div class="mb-1">
				<wysiwyg v-model="draft.long_description" />
			</div>
		</div>

		<div class="form-group ">
			<label :class="validKeywords ? 'label-required' : 'label-valid'">Meta Keywords:</label>
			<div class="mb-1">
				<input type="text" v-model="draft.meta_keywords" class="form-control" placeholder="Enter a meta keywords...">
			</div>
		</div>

		<div class="form-group ">
			<label :class="validMeta ? 'label-required' : 'label-valid'">Meta Description:</label>
			<div class="mb-1">
				<textarea v-model="draft.meta_description" class="form-control" placeholder="Enter a meta description..." ></textarea>
			</div>
		</div>	

		<template v-if="draft.id != null">
			<button class="btn btn-otuline-primary pull-right"  @click="UpdateProduct()">
				Update <i class="fa fa-check"> </i>
			</button>
		</template>
	
	</div>
</template>


<script>

	export default{
		props:['draft'],

		data(){
			return{
			}
		},
		methods:{
			UpdateProduct(){
				let draft = this.draft
				let id = this.draft.id
				this.$store.dispatch('updateProduct', { id:id, draft:this.draft ,Base64Img:this.base64}) 
				this.$router.push({name:'products'})
			},
		},
		computed:{
			validTitle(){
				return this.draft.name == ''
			},
			validHeading(){
				return this.draft.page_heading == ''

			},
			validDescription(){
				return this.draft.short_description == ''

			},
			validLong(){
				return this.draft.long_description == ''

			},
			validKeywords(){
				return this.draft.meta_keywords == ''

			},
			validMeta(){
				return this.draft.meta_description == ''

			}
		}
	}
</script>