<template>
	<div>
		<b-modal no-close-on-backdrop id="cuDiscount" ref="cuDiscount" size="lg" :title="'Add Discounts'">
			<b-container fluid>

				<button class="btn btn-info" v-b-toggle.createDiscount>
					<i class="fa fa-plus"></i>
				</button>

				<b-collapse id="createDiscount" class="mt-2">
					<b-card>
						<div class="form-group mb-1">
							<label :class="validPercent ? 'label-required' :'label-valid'">Percent</label>
							<div class="mb-1">
								<input type="number" v-model="draft.percentDiscount" class="form-control" placeholder="Add a percent...">
							</div>
						</div>

						<div class="form-group mb-1">
							<label :class="validMin ? 'label-required' :'label-valid'">Min quantity</label>
							<div class="mb-1">
								<input type="number" placeholder="Add a min quantity..." class="form-control" v-model="draft.min_quantityDiscount">
							</div>
						</div>

						<div class="form-group mb-1">
							<label :class="validMax ? 'label-required' :'label-valid'">Max quantity</label>
							<div class="mb-1">
								<input type="number" placeholder="Add a max quantity..." class="form-control" v-model="draft.max_quantityDiscount">
							</div>
						</div>

						<div class="form-group mb-1">
							<label :class="validStartDate ? 'label-required' :'label-valid'">Start date</label>
							<div class="mb-1">
								<flat-pickr class="form-control" placeholder="Add a date..." v-model="draft.start_dateDiscount"></flat-pickr>
							</div>
						</div>

						<div class="form-group mb-1">
							<label :class="validEndDate ? 'label-required' :'label-valid'">End date</label>
							<div class="mb-1">
								<flat-pickr class="form-control" placeholder="Add a date..."v-model="draft.end_dateDiscount"></flat-pickr>
							</div>
						</div>
						
						<div class="float-right">
							<button class="btn btn-info" @click="createDiscount()"> 
								<i class="fa fa-plus">Add Discount</i>
							</button>
						</div>
					</b-card>
				</b-collapse>
	
				<template v-if="Discount.discounts.length > 0">
					<hr>
					<h1>Discounts</h1>
					<table class="table">
						<thead>
							<th>#</th>
							<th>Percent</th>
							<th>Min quantity</th>
							<th>Max quantity</th>
							<th>Start date</th>
							<th>End date</th>
							<th width="110">Action</th>
						</thead>
						<tbody>
							<tr v-for="discount in Discount.discounts">
								<template v-if="discount.id != draftDiscount.id">
									
									
									<td>{{discount.id}}</td>
									<td>{{discount.percent}} %</td>
									<td>{{discount.min_quantity}}</td>
									<td>{{discount.max_quantity}}</td>
									<td>{{discount.start_date | moment("DD/MM/YYYY") }}</td>
									<td>{{discount.end_date | moment("DD/MM/YYYY") }}</td>
									<td>
										<button class="btn btn-success" @click="editDiscount(discount)">
											<i class="fa fa-pencil-square-o"></i>
										</button>

										<button class="btn btn-danger" @click="removeDiscount(discount)">
											<i class="fa fa-trash-o"></i>
										</button>
									</td>
								</template>
								<template v-else>
									<td>{{discount.id}}</td>
									<td>
										<input type="text" class="form-control" v-model="draftDiscount.percent">
									</td>
									<td>
										<input type="number" class="form-control" v-model="draftDiscount.min_quantity">
									</td>
									<td>
										<input type="number" class="form-control" v-model="draftDiscount.max_quantity">
										
									</td>
									<td>
 										<flat-pickr class="form-control" v-model="draftDiscount.start_date"></flat-pickr>
									</td>
									<td>
										<flat-pickr class="form-control" v-model="draftDiscount.end_date"></flat-pickr>
									</td>
									<td>
										<button class="btn btn-success" @click="updateDiscount(discount)">
											<i class="fa fa-check"></i>
										</button>

										<button class="btn btn-warning" @click="discardDiscount(discount)">
											<i class="fa fa-times"></i>
										</button>
									</td>
								</template>
							</tr>
						</tbody>
					</table>
				</template>
			</b-container>
			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" 	@click="close">Close</button>
			</div>
		</b-modal>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{

		props:['draft','id'],
		data(){
			return{
				draftDiscount:[]
			}
		},
		created(){
			this.$store.dispatch('getDiscounts')
		},
		methods:{
			createDiscount(){
				this.$store.dispatch('createDiscount',{draft:this.draft, option_id:this.id})

			},
			updateDiscount(discount){
				this.$store.dispatch('updateDiscount',{id:discount.id, draft:this.draftDiscount})
				this.discardDiscount();
			},
			discardDiscount(){
				this.draftDiscount = []
			},
			editDiscount(discount){
				this.draftDiscount = clone(discount) 
			},
			removeDiscount(discount){
				this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + discount.id +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
						this.$store.dispatch('removeDiscount',discount.id)
					}
				})		
			},
			close(){
				this.$refs.cuDiscount.hide();
			},
			save(){

			},

		},
		computed:{
			validForm(){

			},
			validPercent(){
				return 	this.draft.percentDiscount = ''
			},
			validMin(){
				return 	this.draft.min_quantityDiscount = ''

			},
			validMax(){
				return this.draft.max_quantityDiscount = ''

			},
			validStartDate(){
				return this.draft.start_dateDiscount = ''

			},
			validEndDate(){
				return this.draft.end_dateDiscount = ''

			},
			...mapState(['Discount']),

		}
	}
</script>