<template>
<div>
  <b-modal v-model="show" :title="trans('app.setting.add')" @hide="close">
    <b-container fluid>
     <b-row class="mb-1">
       <b-col><label :class="validParam ? 'label-valid' : 'label-required'">{{trans('app.setting.param')}}</label></b-col>
     </b-row>
     <b-row class="mb-1">
       <b-col><input type="text" v-model="draft.param" class="form-control"></b-col>
     </b-row>
     <b-row class="mb-1">
       <b-col><label :class="validValue ? 'label-valid' : 'label-required'">{{trans('app.setting.value')}}</label></b-col>
     </b-row>
     <b-row class="mb-1">
       <b-col>
            <input type="text" v-model="draft.value" class="form-control">
       </b-col>
     </b-row>
    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="store" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        methods:{
            close(){
                this.$emit('close')
            },
            store(){
                this.$store.dispatch('storeSetting', this.draft)
                this.$emit('close')
            },
        },
        computed:{
            validForm(){
              return this.validParam && this.validValue
            },
            validParam(){
              return this.draft.param ? this.draft.param != '' : false
            },
            validValue(){
              return this.draft.value ? this.draft.value != '' : false
            },
        }
    }
</script>