<template>
    <div>
        <b-nav tabs>
          <b-nav-item :active="currentTab == tab.id" v-for="(tab, tabIndex) in tabs" :key="tabIndex" @click="changeTab(tab.id)">
            {{tab.name}}
          </b-nav-item>
        </b-nav>
        <form-wizard
            :title="tabName(currentTab)"
            :subtitle="trans('app.setting.title')"
            color="#17a2b8"
            shape="tab"
            ref="wizard"
            @on-change="activateAll"
            @on-complete="complete"
            >
            <tab-content :icon="panel.icon" v-for="(panel, index) in panels" :key="index" :title="panel.name">
                <button type="button" class="btn btn-info pull-right" @click="create(panel.id)">
                  <i class="fa fa-plus"> </i>
                </button>
                <div class="clearfix"></div>
                    <div class="container">
                      <div class="row">
                        <div class="col-4" v-for="(setting, settingIndex) in panel.settings" :key="settingIndex">
                            <template v-if="editing == setting.id && editLabel">
                                <input type="text" v-model="draft.param">
                                <i class="fa fa-check btn-mini" @click="save(setting.id)"></i>
                                <i class="fa fa-close btn-mini" @click="cancel(setting.id)"></i>
                            </template>
                            <label v-else>{{setting.param}}
                                <i class="fa fa-pencil btn-mini" @click="editParam(setting.id)"></i>
                            </label>
                            <input type="text" v-model="setting.value" class="form-control" @change="save" @keyup="edit(setting.id)">
                        </div>
                      </div>
                    </div>
            </tab-content>
        </form-wizard>
        <cu-setting :show="showCreate" :draft="draft" @close="close"></cu-setting>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                editing: null,
                editLabel: false,
                draft: {},
                showCreate: false,
                tabs: [
                    {
                        id: 1,
                        name: 'Site',
                        icon: 'ti-world',
                    },
                    {
                        id: 2,
                        name: 'Soohi Store',
                        icon: 'ti-shopping-cart',
                    },
                ],
                currentTab: 1
            }
        },
        created(){
            this.getSettings()
        },
        methods:{
            getSettings(){
                let params = {tab: this.currentTab}
                this.$store.dispatch('getSettings', params)
            },
            edit(id){
                this.editing = id
                this.draft = this.getSetting(id)
            },
            cancel(){
                this.editing = null
                this.editLabel = false
                this.draft = {}
            },
            save(){
                var draft = this.draft
                this.$store.dispatch('updateSetting', { id: this.editing, draft })
                let currentSetting = this.getSetting(this.editing)
                currentSetting.param = this.draft.param
                currentSetting.value = this.draft.value
                this.editing = null
                this.editLabel = false
            },
            getSetting(id){
                for (var i = 0; i < this.panels.length; i++) {
                    for (var j = 0; j < this.panels[i].settings.length; j++) {
                        if (this.panels[i].settings[j].id == id) {
                            return this.panels[i].settings[j]
                        }
                    }
                }
                return
            },
            update(){
                this.$store.dispatch('updateCoupon', { id: editing, draft })
            },
            activateAll(){
                this.$refs.wizard.activateAll()
            },
            editParam(id){
                this.editLabel = true
                this.edit(id)
            },
            create(group_id){
                this.draft = {
                    setting_group_id: group_id,
                    param: '',
                    value: '',
                }
                this.showCreate = true
            },
            close(){
                this.getSettings()
                this.showCreate = false
            },
            complete(){
                this.$router.push({name:'home'})
            },
            changeTab(id){
                this.currentTab = id
                this.getSettings()
                this.$refs.wizard.reset()
                this.activateAll()
            },
            tabName(id){
                for (var i = 0; i < this.tabs.length; i++) {
                    if (this.tabs[i].id == id) {
                        return this.tabs[i].name
                    }
                }
            }
        },
        computed: {
            panels(){
                return this.$store.state.Setting.settings
            },
        }
    }
</script>
<style>
.btn-mini {
    color: #17a2b8;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1em;
    cursor: pointer;
}
</style>