<template>
	<div>
		<b-modal no-close-on-backdrop id="cuCategory" ref="cuCategory"  :title="draft.id != null ? 'Edit ' + draft.name : 'Add category' ">
				<b-container fluid>
					<div class="form-group mb-1">
						<label :class="validName ? 'label-required' :'label-valid'">Name</label>
						<div class="mb-1">
							<input type="text" v-model="draft.name" class="form-control" placeholder="Add a name...">
						</div>
					</div>
					<div class="form-group mb-1">
						<label :class="validDescription ? 'label-required' :'label-valid'">Description</label>
						<div class="mb-1">
							<textarea class="form-control" rows="3" v-model="draft.description" placeholder="Add a description..."></textarea>
						</div>
					</div>
				</b-container>
				<div slot="modal-footer" class="pull-right">
					<button class="btn btn-outline-danger" 	@click="close">Close</button>
					<button class="btn btn-outline-primary" :disabled="validForm" @click.prevent="save">{{draft.id != null ? 'Update' : 'Create'}}</button>
				</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		props:['draft'],
		data(){
			return{

			}
		},
		computed:{
			validForm(){
				return this.draft.name == '' || this.draft.description == '';
			},
			validName(){
				return this.draft.name == ''
			},
			validDescription(){
				return this.draft.description ==  ''
			}
		},
		methods:{
			close(){
				this.$refs.cuCategory.hide()
			},
			save(){
				if(this.draft.id) {
					this.update()
				} else {
					this.store()
				}
				this.close()
			},
			store(){
				this.$store.dispatch('createCategory', this.draft)
			},
			update(){
				let draft = this.draft
				let id = this.draft.id
				this.$store.dispatch('updateCategory', { id:id, draft }) 
			}
		}
	}
</script>