<template>
	<div class="box box-solid box-primary">
		<cu-category :draft="draft"/>
      	<div class="box-header with-border">
      		<h3 class="box-title">Categories</h3>
      	</div>
      	<div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-info " v-b-modal.cuCategory @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>

      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="search"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>

      		<div class="clearfix"></div>
			<b-table striped hover 
					responsive 		
					:items="Category.categories" 
            		@sort-changed="sortingChanged"
					:fields="fields">
				<template slot="Actions" slot-scope="row">

					<button class="btn btn-success" v-b-modal.cuCategory  @click="edit(row.item, row.index)">
						<i class="fa fa-edit"></i>
					</button>

					<button class="btn btn-danger " @click="remove(row.item, row.index)">
						<i class="fa fa-trash-o"></i>
					</button>
					
	      		</template>
			</b-table>
		</div>
		
		<div class="box-footer">
			<div class="row justify-content-md-center">
				<b-pagination :total-rows="Category.totalRows" size="md" v-model="currentPage" @input="getCategories" :per-page="Category.perPage"/>
			</div>
		</div>
	</div>
</template>


<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		watch:{
			search(){
            	this.getCategories()
            }
		},
		data(){
			return{
				currentPage:null,
				draft:{},
				search: '',
				sortBy: 'id',
                sortDesc: true,
				fields: [
				{
					key:'id',
					label:'#',
					sortable:true
				},
				{
					key:'name',
					sortable:true
				},
				{
					key:'description',
					sortable:true
				},
				{
					'Actions':true
				}
				],
			}
		},
		computed:{
			...mapState(['Category']),
		},
		methods:{
			getCategories() {
				let params = {page:this.currentPage, target:this.search}
				this.$store.dispatch('loadCategory',params) 
			},
			create(){
				this.draft = {
					id: null,
					name:'',
					description:'',
				}
			},
			edit(item,index){
				this.draft = clone(item)
			},
			remove(item, index){
				this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + item.name +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
						this.$store.dispatch('removeCategory', item.id)
					}
				})
            },

            sortingChanged (ctx) {
  				if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = null
                    this.getCategories()
                }
		    }
		}
	}
</script>