<template>
	<div class="box box-solid box-primary">
      	<div class="box-header with-border">
      		<h3 class="box-title">
      			{{titleProduct}}
      		</h3>
      	</div>

      	<div class="box-body">      			
      		<b-tabs  v-model="tabIndex" card>		
			    <b-tab title="General" active>
		    		<view-general :draft="draft"/>
			    </b-tab>

			    <b-tab title="Data">
		    		<view-data :draft="draft"/>
				</b-tab>

				<b-tab title="Images" @click="getImages()">
		    		<view-image :draft="draft" :images="images"/>
			    </b-tab>

				<b-tab title="Attributes" @click="getAttributeValues()">
		    		<view-attribute-value :draft="draft" :arr="arr"/>
			    </b-tab>

    			<b-tab title="Options"  @click="getOptions()">
      				<view-option :draft="draft"  :arrOptions="arrOptions"/>
    			</b-tab>

        		<!-- <b-tab title="Comparison">
					<view-comparison :draft="draft"/>
    			</b-tab> -->

			</b-tabs>

			
		</div>

		<div class="box-footer">
			<div class="text-center">
				<template v-if="this.draft.id == null">
					<button class="btn btn-otuline-primary pull-right" :disabled="validForm" @click="save()">
						Create <i class="fa fa-check"> </i>
					</button>
				</template>

      			<b-button-group class="pull-left">
      				<template v-if="tabIndex != 0">
			        	<b-btn variant="outline-danger" @click="tabIndex--"><i class="fa fa-arrow-left" /> Previou</b-btn>	
      				</template>
			        <b-btn variant="outline-success" @click="tabIndex++">Next <i class="fa fa-arrow-right" /></b-btn>
      			</b-button-group>
   			</div>
		</div>
	</div>
</template>


<script>
	export default{
		props:['draft'],
		data(){
			return{
				arr:[],
				arrOptions:[],
				images:[],
				tabIndex:0
			}
		},
		computed:{
			titleProduct(){
				if (this.draft.id == null) {
					return 'Create a new product'
				} else {
					return "Edit "+this.draft.name
				}
			},
			validForm(){
				return 	this.draft.SKU == '' ||
						this.draft.alias == '' ||
						this.draft.category_id == '' ||
						this.draft.height == '' ||
						this.draft.length == '' ||
						this.draft.long_description == '' ||
						this.draft.main_image == '' ||
						this.draft.manufacturer_id == '' ||
						this.draft.meta_description == '' ||
						this.draft.meta_keywords == '' ||
						this.draft.min_quantity == '' ||
						this.draft.name == '' ||
						this.draft.page_heading == '' ||
						this.draft.price == '' ||
						this.draft.short_description == '' ||
						this.draft.status == '' ||
						this.draft.weight == '' ||
						this.draft.weight_unit_id == '' ||
						this.draft.width == '' ||
						this.arr == [] ||
						this.arrOptions == [] 
			}
		},
		methods:{
			getImages(){
				let id = this.draft.id
				this.$store.dispatch('getImages', { id:id }) 
			},
			getOptions(){
				let id = this.draft.id
				this.$store.dispatch('getOptions', { id:id }) 	
			},
			getAttributeValues(){
				let id = this.draft.id
				this.$store.dispatch('getAttributeValuesInProduct', { id:id }) 
			},
			save(){
				this.$store.dispatch('createProduct',{draft:this.draft, images:this.images, arr:this.arr, optionsImage:this.optionsImage, arrOptions:this.arrOptions}) 
				this.$router.push({name:'products'})
			}
			
		}
	}
</script>