<template>
	<div class="box box-solid box-primary">
      	<div class="box-header with-border">
      		<h3 class="box-title">Products</h3>
      	</div>
      	<div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-info" @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>

      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="search"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>

      		<div class="clearfix"></div>
			<b-table striped hover 
					responsive 		
					:items="Product.products" 
            		@sort-changed="sortingChanged"
					:fields="fields">

				<template slot="main_image" slot-scope="data">
				  <b-img thumbnail fluid width="180" height="180" :src="'storage/products/'+data.value" alt="Thumbnail" />

	      		</template>

				<template slot="Actions" slot-scope="row">

					<button class="btn btn-success" v-b-modal.cuProduct  @click="edit(row.item, row.index)">
						<i class="fa fa-edit"></i>
					</button>

					<button class="btn btn-danger " @click="remove(row.item, row.index)">
						<i class="fa fa-trash-o"></i>
					</button>

	      		</template>
			</b-table>
		</div>
		
		<div class="box-footer">
			<div class="row justify-content-md-center">
				<b-pagination :total-rows="Product.totalRows" size="md" v-model="currentPage" @input="getProducts" :per-page="Product.perPage"/>
			</div>
		</div>
	</div>
</template>


<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		watch:{
			search(){
            	this.getProducts()
            }
		},
		data(){
			return{
				currentPage:null,
				draft:{
					id:null,
 					SKU: '',
					price: '',
					length: '',
					width: '',
					weight: '',
					weight_unit_id: '',
					min_quantity: '',
					status: '',
					category_id: '',
					manufacturer_id: '',
					short_description: '',
					main_image: '',
					height: '' ,
					name: '',
					meta_keywords: '',
					meta_description: '',
					short_description: '',
					long_description: '',
					page_heading: '' ,
					alias: '' ,
					optionImage:'',
					optionsColor:'',
					optionsPrice:'',
					optionsQuantity:'',
					optionsSKU:'',
					optionsSize:'',
					attribute_id:'',
					valueAttribute:'',
					statusAttribute:'',
					percentDiscount:'',
					min_quantityDiscount:'',
					max_quantityDiscount:'',
					start_dateDiscount:'',
					end_dateDiscount:'',
				},
				search: '',
				sortBy: 'id',
                sortDesc: true,
				fields: [
				{
					key:'id',
					label:'#',
					sortable:true
				},
				{
					key:'main_image',
					label:'Image',
					formatter:'image'
				},
				{
					key:'name',
					sortable:true
				},
				{
					label:'Category',
					key:'categories.name',
					sortable:true,

				},
				{
					'Actions':true
				}
				],
			}
		},
		computed:{
			...mapState(['Product']),	
		},
		methods:{
			image(value){
				return value
			},
			getProducts() {
				let params = {page:this.currentPage, target:this.search}
				this.$store.dispatch('getProducts',params) 
			},
			create(){
				this.$router.push({name:'createProduct', params:{draft:this.draft }})
			},
			edit(item,index){
				this.draft = clone(item)
				this.$router.push({name:'createProduct', params:{draft:this.draft } })
			},
			remove(item, index){
				this.$swal({
					title: trans('app.common.delete_title'),
					text: trans('app.common.delete_text') + item.name +'?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: trans('app.common.delete_confirm'),
					cancelButtonText: trans('app.common.0')
				}).then((result) => {
					if (result.value) {
                	this.$store.dispatch('removeProduct', item.id)	
					}
				})		


            },
            sortingChanged (ctx) {
  				if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = null
                    this.getProducts()
                }
		    }
		}
	}
</script>