<template>
	<div>
		<b-modal no-close-on-backdrop id="cOption" ref="cOption"  :title="draft.id != null ? 'Edit ' + draft.name : 'Add option' ">
				<b-container fluid>

					<div class="form-group ">
						<label :class="validColor ? 'label-required' : 'label-valid' ">Color</label>
						<div class="mb-1">
							<input type="text" class="form-control" v-model="draft.optionsColor" placeholder="Enter a color...">
						</div>
					</div>

					<div class="form-group ">
						<label :class="validSize ? 'label-required' : 'label-valid' ">Size</label>
						<div class="mb-1">
							<input type="text" class="form-control" v-model="draft.optionsSize" placeholder="Enter a size...">
						</div>
					</div>

					<div class="form-group ">
						<label :class="validSKU ? 'label-required' : 'label-valid' ">SKU</label>
						<div class="mb-1">
							<input type="text" class="form-control" v-model="draft.optionsSKU" placeholder="Enter a sku...">
						</div>
					</div>

					<div class="form-group ">
						<label :class="validQuantity ? 'label-required' : 'label-valid' ">Quantity</label>
						<div class="mb-1">
							<b-form-input type="number" v-model="draft.optionsQuantity" placeholder="Enter a quantity..."/>
						</div>
					</div>

					<div class="form-group ">
						<label :class="validPrice ? 'label-required' : 'label-valid' ">Price</label>
						<div class="mb-1">
							<b-form-input type="number" v-model="draft.optionsPrice" placeholder="Enter a price..."/>
						</div>
					</div>

					<div class="form-group ">
						<label :class="validImage ? 'label-required' : 'label-valid' ">Image</label>
						<div class="mb-1">
							<label class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add a image" >
								<span aria-hidden="true"> 
									Select an image
									<i class="fa fa-paperclip"></i>
									<b-form-file  
									ref="fileinput"
									accept=".jpg, .png" 
									placeholder="Choose a file..." 
									@change="processFile($event)"
									style="display: none"/>
								</span>
							</label>
						</div>
					</div>

					<div class="form-group ">
						<div class="mb-1">
							<template v-if="Base64Img">

								<button class="btn btn-danger "@click="remove()">
									<i class="fa fa-trash-o"></i>
								</button>
								<b-img thumbnail fluid width="220" height="220" :src="Base64Img"  alt="Thumbnail" />

							</template>
						</div>
					</div>	
				</b-container>

			<div slot="modal-footer" class="pull-right">
				<button class="btn btn-outline-danger" 	@click="close">Close</button>
				<button class="btn btn-outline-primary" :disabled="validForm"  @click.prevent="save">Add</button>		
			</div>
		</b-modal>
	</div>
</template>

<script>
	export default{
		props:['draft','arrOptions'],
		data(){
			return{
				index:null,
				Base64Img:'',
			}
		},
		methods:{
			save(){
				this.arrOptions.push({
					'color':this.draft.optionsColor,
					'size':this.draft.optionsSize,
					'SKU':this.draft.optionsSKU,
					'quantity':this.draft.optionsQuantity,
					'price':this.draft.optionsPrice,
					'image':this.draft.optionImage,
					'base64':this.draft.optionBase64Img
				})
				this.draft.optionsColor = ''
				this.draft.optionsSize = ''
				this.draft.optionsSKU = ''
				this.draft.optionsQuantity = ''
				this.draft.optionsPrice = ''
				this.draft.optionImage = ''
				this.draft.optionBase64Img = ''
				this.Base64Img = ''
			},
			close(){
				this.$refs.cOption.hide()
			},
			processFile(e) {
				let files = e.target.files || e.dataTransfer.files;
				var file = files[0];
				this.draft.optionImage = files[0].name;
                if (!files.length)
                    return;
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                	vm.draft.optionBase64Img = e.target.result;
                    vm.Base64Img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
			
	        remove(){
	         	this.Base64Img = ''
       	 	}
		},
		computed:{
			validForm(){
				return 	this.draft.optionsColor == '' ||
						this.draft.optionsSize == '' ||
						this.draft.optionsSKU == '' ||
						this.draft.optionsQuantity == '' ||
						this.draft.optionsPrice == '' ||
						this.draft.optionImage == ''

			},
			validColor(){
				return this.draft.optionsColor == ''
			},
			validSize(){
				return this.draft.optionsSize == ''

			},
			validSKU(){
				return this.draft.optionsSKU == ''

			},
			validQuantity(){
				return this.draft.optionsQuantity == ''

			},
			validPrice(){
				return this.draft.optionsPrice == ''

			},
			validImage(){
				return this.draft.optionImage == ''

			}
		}
	}
</script>