<template>
	<div>
		<c-option :draft="draft" :arrOptions="arrOptions"/>
		<cu-discount :draft="draft" :id="option_id"/>
		<cu-price-special :draft="draft" :id="option_id" />
		<div class="form-group ">
			<label for="">Add options:</label>
       		<button class="btn btn-info" v-b-modal.cOption>
				<i class="fa fa-plus"></i>
			</button>
		</div>
		
		<template v-if="arrOptions.length > 0">
			<div class="box box-solid box-primary">
		      		<div class="box-header with-border">
		      			Options
		      		</div>

	      		<div class="box-body">
					<table class="table table-hover ">
						<thead>
							<th>#</th>
							<th>Image</th>
							<th>Color</th>
							<th>Price</th>
							<th>SKU</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr v-for="option,index in arrOptions">
								<td>{{option.id}}</td>
								<td>
									<b-img thumbnail fluid width="180" height="180" :src="option.base64"  alt="Thumbnail" />
								</td>
								<td>{{option.color}}</td>
								<td>{{option.price}}</td>
								<td>{{option.SKU}}</td>

								<td>
									<button class="btn btn-danger" @click="removeOption(option)">
										<i class="fa fa-trash-o"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

					<template v-if="draft.id != null">
						<div class="float-right">
							<button class="btn btn-info" @click="saveOption()">
								<i class="fa fa-plus"> Add option</i>
							</button>
						</div>
					</template>
					
			
				</div>
			</div>
		</template>	

		<template v-if="Option.options.length > 0">
			<div class="box box-solid box-primary">
		      		<div class="box-header with-border">
		      			Options
		      		</div>

	      		<div class="box-body">
					<table class="table table-hover ">
						<thead>
							<th>#</th>
							<th>Image</th>
							<th>Color</th>
							<th>Price</th>
							<th>SKU</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr v-for="option,index in Option.options">
								<td>{{option.id}}</td>
								<td>
									<b-img thumbnail fluid width="180" height="180" :src="'storage/options/'+option.image"  alt="Thumbnail" />
								</td>
								<td>{{option.color}}</td>
								<td>{{option.price}}</td>
								<td>{{option.sku}}</td>

								<td>
									<button class="btn btn-info" v-b-modal.cuDiscount @click="getDiscounts(option)">
										<i class="fa fa-dollar"> Discount</i>
									</button>
									<button class="btn btn-warning" v-b-modal.cuPriceSpecial @click="getPriceSpecials(option)">
										<i class="fa fa-dollar"> Price special</i>
									</button>

									<button class="btn btn-danger" @click="removeOption(option)">
										<i class="fa fa-trash-o"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</template>	
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		props:['draft','arrOptions'],
		data(){
			return{
				index:null,
				Base64Img:'',
				option_id:''
			}
		},
		computed:{
			...mapState(['Option']),

		},
		created(){
			this.$store.dispatch('getOptions') 

		},
		methods:{
			getPriceSpecials(option){
				this.option_id = option.id
				this.$store.dispatch('getPriceSpecials',{id:option.id})
			},
			getDiscounts(option){
				this.option_id = option.id
				this.$store.dispatch('getDiscounts',{id:option.id})

			},
			saveOption(){
				this.$store.dispatch('createOption',{draft:this.arrOptions, id:this.draft.id})
				this.arrOptions = []

			},
			removeOption(option){
				if (confirm('Do you want to remove option '+ option.id)) {
					this.$store.dispatch('removeOption', option.id) 
				}
			},
			processFile(e) {
				let files = e.target.files || e.dataTransfer.files;
				var file = files[0];
				this.draft.optionImage = files[0].name;
                if (!files.length)
                    return;
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                	vm.draft.optionBase64Img = e.target.result;
                    vm.Base64Img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
			
	        remove(){
	         	this.Base64Img = ''
       	 	}
		}
	}
</script>